<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html ng-app="ui.bootstrap.demo">
  <head>

    <link href="//netdna.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet">
    <style type="text/css">
  form.tab-form-demo .tab-pane {
    margin: 20px 20px;
  }
  
  #display
  {
      font-style: italic
  }
</style>
  </head>
  <body>
      <br>

    <div class="container container-table">
    <div class="row vertical-center-row">
        <div class="col-md-4 col-md-offset-4">
        <div class="panel panel-primary" style="width: 400px; height: 500px;" >
        <div class="panel-heading">Welcome Students</div>
        <div class="panel-body client-left-side"></div>
<div ng-controller="TabsDemoCtrl">
    <form  name="outerForm" class="tab-form-demo" action="/index" method="post">
   <uib-tabset active="activeForm">
      <uib-tab index="0" heading="STEP 1">
          <ng-form name="nestedForm" ng-submit="formNext()">
          <div class="form-group">   
<!-- Write code for input text fields (firstname,lastname,email,phone) here-->  

<div class="form-group">
  <label for="FName">Enter Student First Name</label>
  <input type="text" class="form-control" id="fname"
  name="firstName" placeholder="Enter First Name" required></div>
<div class="form-group">
 <label for="LName">Enter Student Last Name</label>
  <input type="text" class="form-control" id="lname"
  name="lastName" placeholder="Enter Last Name" required></div>
<div class="form-group">
               <label for="email">Enter Email</label>
  <input type="text" class="form-control" id="email"
  name="email" placeholder="Enter Email" required></div>
                   <div class="form-group">
                       <label for="phone">Enter Phone Number</label>
  <input type="text" class="form-control" id="phone"
  name="phone" placeholder="Enter Phone Number" required></div>
            <button type="button"   class="btn btn-primary" ng-click="formNext()" >Next</button>
          </div>
        </ng-form>
      </uib-tab>
      <uib-tab index="1" heading="STEP 2" id="step2">
         <ng-form name="nestedForm" ng-submit="formNext()" >
          <div class="form-group">
        <div class="form-group input-group">
        <div class="row">
        <div class="col-md-12 ">
            <label>From: &nbsp; </label><select  id="selectedOption" ng-model="selectedOption" ng-options="option.name for option in options">
            </select>   <label>To: &nbsp;</label><select ng-model="selectedOptionTo" ng-options="option1.name for option1 in optionsTo">
</select>

<!-- Write code for drowpdown list, go to below link for sample code 
// http://www.w3schools.com/angular/tryit.asp?filename=try_ng_select_selected--> 
        </div>
        </div>
        </div>
       
        <div class="form-group input-group">
        <label>Date Depart</label>
        <div class="row">
        <div class="col-md-8">
       <p class="input-group">
          <input name="dt" type="text" id="dt" class="form-control" uib-datepicker-popup="{{format}}" ng-model="dt" is-open="popup1.opened" datepicker-options="dateOptions" ng-required="true" close-text="Close" alt-input-formats="altInputFormats" />
          <span class="input-group-btn">
            <button type="button" class="btn btn-default" ng-click="open1()"><i class="glyphicon glyphicon-calendar"></i></button>
          </span>
        </p>
        </div>
        </div>
          <label>Date Return</label>
        <div class="row">
        <div class="col-md-8">
      <p class="input-group">
          <input name="dt1" type="text" id="dtl" class="form-control" uib-datepicker-popup="dd-MMMM-yyyy" ng-model="dt1" is-open="popup2.opened" datepicker-options="dateOptions" ng-required="true" close-text="Close" alt-input-formats="altInputFormats" />
          <span class="input-group-btn">
            <button type="button" class="btn btn-default" ng-click="open2()"><i class="glyphicon glyphicon-calendar"></i></button>
          </span>
        </p>
        </div>
        </div>
        </div>
             <button type="button"   class="btn btn-primary" ng-click="formNext()" >Next</button>
          </div>
        </ng-form>
      </uib-tab>
      <uib-tab index="2" heading="STEP 3" id="step3">
           <ng-form  name="nestedForm" ng-submit="">
               <h3 id="display"></h3>
              <!-- Now display the firstname,lastname,email,phone, departure and arrival places on the selected dates--> 
            
           </ng-form>
      </uib-tab>
    </uib-tabset>   
  </form>
</div>
        </div>
        </div>
        </div>
        </div>
      <script src="https://code.jquery.com/jquery-3.2.1.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.3/angular.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.3/angular-animate.js"></script>
        <script src="https://angular-ui.github.io/bootstrap/ui-bootstrap-tpls-1.3.3.js"></script>

          <!--<script  src="http://angular-ui.github.io/bootstrap/ui-bootstrap-tpls-0.10.0.min.js"></script>-->

          <script>
            angular.module('ui.bootstrap.demo', ['ngAnimate', 'ui.bootstrap']);
angular.module('ui.bootstrap.demo').controller('TabsDemoCtrl', function ($scope, $window) {

  //dropdown
   $scope.options = [
    {
      name: 'Choose a location',
      value: 'Choose a location'
    },
    {
      name: 'Boston',
      value: 'Boston'
    },
    {
      name: 'New York',
      value: 'New York'
    },
    {
      name: 'Chicago',
      value: 'Chicago'
    },
    {
      name: 'San Francisco',
      value: 'San Francisco'
    }
  ];

  $scope.optionsTo = [
    {
      name: 'Choose a location',
      value: 'Choose a location'
    },
    {
      name: 'Boston',
      value: 'Boston'
    },
    {
      name: 'New York',
      value: 'New York'
    },
    {
      name: 'Chicago',
      value: 'Chicago'
    },
    {
      name: 'San Francisco',
      value: 'San Francisco'
    }
  ];
  $scope.selectedOption = $scope.options[0];
  $scope.selectedOptionTo = $scope.optionsTo[0];
  

  //tab index
  var index = 0;

  $scope.formNext = function(){
      console.log(index);
      
     if(index < 2){
      $scope.activeForm =  index + 1;       
     index++;
     
     if(index==2){
         $.ajax({
    method: "POST",
    url: "/index",
    data: { firstname :document.getElementById("fname").value, lastname :document.getElementById("lname").value,email:document.getElementById("email").value,phone:document.getElementById("phone").value,date:document.getElementById("dt").value,dateTo:document.getElementById("dtl").value}
    
})
  .done(function( msg ) {
    $.ajax({
    method: "GET",
    url: "/flightDetails",
    data: { firstname :document.getElementById("fname").value, lastname :document.getElementById("lname").value,email:document.getElementById("email").value,phone:document.getElementById("phone").value,date:document.getElementById("dt").value,dateTo:document.getElementById("dtl").value}
})
  .done(function( msg ) {
    alert( "Data sent " + msg );
    document.getElementById("display").innerHTML=msg;
    
  });
    
  });
     }
 }else {
     index = 0;
 }

  };



  //Date
 $scope.today = function() {
    $scope.dt = new Date();
     $scope.dt1 = new Date();
  };
  $scope.today();

  $scope.clear = function() {
    $scope.dt = null;
     $scope.dt1 = null;
  };

  $scope.inlineOptions = {
    customClass: getDayClass,
    minDate: new Date(),
    showWeeks: true
  };

  $scope.dateOptions = {
    dateDisabled: disabled,
    formatYear: 'yy',
    maxDate: new Date(2020, 5, 22),
    minDate: new Date(),
    startingDay: 1
  };

  // Disable weekend selection
  function disabled(data) {
    var date = data.date,
      mode = data.mode;
    return mode === 'day' && (date.getDay() === 0 || date.getDay() === 6);
  }

  $scope.toggleMin = function() {
    $scope.inlineOptions.minDate = $scope.inlineOptions.minDate ? null : new Date();
    $scope.dateOptions.minDate = $scope.inlineOptions.minDate;
  };

  $scope.toggleMin();

  $scope.open1 = function() {
    $scope.popup1.opened = true;
  };

  $scope.open2 = function() {
       $scope.popup2.opened = true;
//    $scope.popup2.opened = true;
  };

  $scope.setDate = function(year, month, day) {
    $scope.dt = new Date(year, month, day);
     $scope.dt1 = new Date(year, month, day);
  };

  $scope.formats = ['dd-MMMM-yyyy', 'yyyy/MM/dd', 'dd.MM.yyyy', 'shortDate'];
  $scope.format = $scope.formats[0];
  $scope.altInputFormats = ['M!/d!/yyyy'];

  $scope.popup1 = {
    opened: false
  };

  $scope.popup2 = {
    opened: false
  };

  var tomorrow = new Date();
  tomorrow.setDate(tomorrow.getDate() + 1);
  var afterTomorrow = new Date();
  afterTomorrow.setDate(tomorrow.getDate() + 1);
  $scope.events = [
    {
      date: tomorrow,
      status: 'full'
    },
    {
      date: afterTomorrow,
      status: 'partially'
    }
  ];

  function getDayClass(data) {
    var date = data.date,
      mode = data.mode;
    if (mode === 'day') {
      var dayToCheck = new Date(date).setHours(0,0,0,0);

      for (var i = 0; i < $scope.events.length; i++) {
        var currentDay = new Date($scope.events[i].date).setHours(0,0,0,0);

        if (dayToCheck === currentDay) {
          return $scope.events[i].status;
        }
      }
    }

    return '';
  }
});


          </script>
  </body>
</html>
